* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.UpperHead {
    text-align: center;
    padding: 40px 0;
    background-color: #cdb4db;
    font-weight: bold;
    color: #ffffff;
    font-size: 35px;
    border-radius: 10px;
    position: rela1tive;
}

.UpperHead img {
    position: absolute;
    left: 35px;
    top: 20px;
    border-radius: 50%;
}

/* Crear 2 columnas con la misma posición en la fila */
nav {
    float: left;
    width: 100%;
    /* only for demonstration, should be removed */
    background: #ffc8dd;
    padding: 20px;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

.center-obj {
    margin: auto;
}

.tablepicture {
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.myButton:hover {
    background-color: #bc80ea;
}

.myButton:active {
    position: relative;
    top: 1px;
}

/* Estilo de footer */
footer {
    background-color: #a8579b;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

/* Responsive layout */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}

.btnPedido {
    text-align: center;
    left: 50%;
    margin: 0;
    background-color: #a8579a;
    border-radius: 6px;
    border: 1px solid #c584f3;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #a8579a;
}

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
}